<div class="main users-edit">
  <div class="container">
    <div class="form-heading">ユーザー情報の編集</div>
    <div class="form users-form">
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <%= form_tag("/users/#{@user.id}/update",{multipart: true}) do %>
          <p>ユーザー名</p>
          <input name="name" value="<%= @user.name %>">
          <p>パスワード</p>
          <input name="password" value="<%= @user.password %>" type="password">
          <p>アイコン画像</p>
          <input name="image" type="file">
          <input type="submit" id="submit-button" value="保存">
        <% end %>
        <!- 新機能 アカウント削除 -->
        <%= link_to("アカウント削除", "/users/#{@user.id}/destroy",{method:"post"}) %>
      </div>
    </div>
  </div>
</div>
